.home {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  &-title {
    max-width: 645px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px 0;
    h1 {
      font-weight: 700;
      font-size: 80px;
      line-height: 1.1;
      font-family: $text-heading;
      color: $black-color;
    }
    p {
      max-width: 380px;
      font-weight: 400;
    }
  }
  &-btn {
    padding: 16px 37px;
    border: 1px solid $violet-color;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    box-shadow: $violet-color 0 2px 10px;
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 102%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50px;
      z-index: -1;
      transition: width 0.4s linear;
      background-color: $violet-color;
    }
    &:hover::before {
      width: 102%;
      border: none;
    }
    &:hover a {
      color: $white-color;
      transition: width 0.4s linear;
    }
    a {
      color: $violet-color;
    }
  }
  &-image {
    transform: translate(-100px, 60px) scale(1.4);
    img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1023px) {
  .home {
    margin-top: 200px;
    &-title {
      padding-left: 30px;
      min-width: 400px;
      h1 {
        font-size: 50px;
      }
      p {
        max-width: 260px;
        font-size: 12px;
      }
    }
    &-image {
      transform: translate(-60px, 20px) scale(1.2);
      img {
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px 0;
    &-title {
      padding-left: 45px;
      min-width: 400px;
      h1 {
        font-size: 30px;
      }
      p {
        max-width: 260px;
        font-size: 12px;
      }
    }
    &-image {
      transform: translate(0, 20px);
      img {
        object-fit: cover;
      }
    }
  }
}
