$violet-color: #9c69e2;
$pink-color: #f063b8;
$pink-color-blur: rgba(240, 99, 184, 0.15);
$green-color: #68c9ba;
$gray-color: #4b5d68;
$black-color: #212353;
$white-color: #ffffff;

$text-heading: "Zen Antique", serif;
$text-primary: "Poppins", sans-serif;
