.features {
  margin-bottom: 150px;
  &-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px 0;
    margin-bottom: 70px;
    h1 {
      font-family: $text-heading;
      font-weight: 700;
      font-size: 40px;
      line-height: 1.3;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.6;
      max-width: 584px;
    }
  }
  &-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 40px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    &-image {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transform: translate(-160px, -30px);
    }

    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 20px 0;
      margin-left: 30%;
      padding: 50px 50px 50px 100px;
      background-color: rgba(104, 201, 186, 0.2);
      border-radius: 50px;
      min-width: 420px;
      h1 {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 600;
        font-family: $text-heading;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .features {
    &-item {
      grid-template-columns: 1fr;
    }

    .item {
      &-image {
        transform: translate(-220px, -30px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .features {
    .item {
      &-image {
        transform: translate(-125px, -30px) scale(0.5);
      }

      &-content {
        margin-left: 0;
        padding: 30px 30px 30px 110px;
        min-width: 340px;

        h1 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
